{
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["compat"],
  "extends": "airbnb",
  "ecmaFeatures": {
    "jsx": true
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "id-length": 0,
    "react/prop-types": 0,
    "new-cap": 0,
    "import/no-extraneous-dependencies": ["off"],
  }
}
