.example-enter {
  opacity: 0.01;
  transition: opacity 1.5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
  background: #f00;
}

.example-leave {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}